section{
	padding: 30px 0 30px;
}

/* Заголовок h2 */
.heading-block {
	margin: 0 0 43px;
	text-align: center;
}
.heading-block__title {
	font-size: 35px;
	line-height: math.div(40, 35) * 100%;
	font-weight: 300;
}

@media screen and (max-width: $md){
	section{
		padding: 20px 0 20px;
	}
	.heading-block__title{
		font-size: 24px;
		line-height: math.div(35, 24) * 100%;
	}
	.heading-block {
		margin: 0 0 22px;
	}
	.article__heading-block.heading-block{
		padding: 23px 20px 22px;
	}
}

/* Кнопка - Читать полностью */
.read-btn{
	display: block;
	text-align: center;
	width: 209px;
	min-height: 60px;
	padding: 20px 10px;
	background: $grayDarkColor;
	font-size: 13px;
	line-height: math.div(20, 13) * 100%;
	text-transform: uppercase;
	color: $whiteColor;
	letter-spacing: 0.5px;
	transition: box-shadow .15s ease 0s, background .15s ease 0s;
	@media (any-hover: hover){
		&:hover{
			box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
			background: $mainColor;
		}
	}
}

@media screen and (max-width: $sm){
	.read-btn{
		min-height: 50px;
		padding: 15px;
		width: 185px;
	}
}
/* Адаптивные изображения */
.ibg{
	position: relative;
	& img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	& video{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* Знак рубля */
._rub {
	position: relative;
	&::before{
		content: "₽";
		position: absolute;
	}
}


/* Убираем стрелки у input[type="number"] */
// для браузера Chrome
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
// для браузера Firefox
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: number-input;
}
// для других
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* PAGINATION */
.pagination {
	padding: 37px 0;
	margin: 32px 0 17px;
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pagination-button{
	font-size: 13px;
	line-height: math.div(20, 13) * 100%;
	letter-spacing: 0.5px;
	font-weight: 700;
	text-transform: uppercase;
	background: transparent;
	color: $mainColor;
	display: flex;
	align-items: center;
	min-height: 20px;
	transition: color .15s ease 0s;
	&::before{
		font-size: 17px;
		color: $mainColor;
		font-weight: 500;
		width: 30px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: color .15s ease 0s;
	}
}
.pagination-button:hover{
	color: $redColor;
	&::before{
		color: $redColor;
	}
}
.pagination-button__prev {
	&::before{
		margin: 0 20px 0 0;
	}
}
.pagination__list {
	display: flex;
	align-items: center;
}
.pagination__item {
	&:not(:last-child){
		margin: 0 22px 0 0;
	}
}
.pagination__link {
	font-size: 18px;
	line-height: math.div(20, 18) * 100%;
	font-weight: 700;
	color: $mainColor;
	min-width: 25px;
	min-height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.pagination__link_current{
	color: $redColor;
}
.pagination-button__next {
	flex-direction: row-reverse;
	&::before{
		margin: 0 0 0 20px;
	}
}

@media screen and (max-width: $md) {
	// PAGINATION
	.pagination {
		margin: 11px 0 3px;
		padding: 29px 0 26px;
	}
	.pagination-button span{
		display: none;
	}
	.pagination-button::before{
		font-size: 16px;
		font-weight: 700;
	}
	.pagination__link{
		min-width: 20px;
		font-size: 16px;
		line-height: math.div(20, 16) * 100%;
	}
	.pagination__item:not(:last-child) {
		margin: 0 13px 0 0;
	}
}

/* Overlay */
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($grayDarkColor, 0.5);
	opacity: 0;
	visibility: hidden;
	z-index: 8;
	transition: opacity .2s ease 0s, visibility .2s ease 0s;
	&.show{
		opacity: 1;
		visibility: visible;
	}
}