.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease 0s;
	z-index: 30;
	overflow-y: auto;
	&.open-modal{
		opacity: 1;
		visibility: visible;
	}
}
.modal__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	padding: 30px 10px;
}
.modal__content {
	background: $whiteColor;
	width: 100%;
	max-width: 400px;
	position: relative;
}

.modal__close {
	position: absolute;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	background: transparent;
	&::before{
		font-weight: 200;
		font-size: 14px;
		color: rgba($mainColor, 0.5);
	}
}
.modal__heading {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: $grayColorLight;
	padding: 37px 0 33px;
}
.modal__title {
	font-size: 35px;
	line-height: math.div(40, 35) * 100%;
	font-weight: 300;
}
.modal__form {
	padding: 40px 45px 35px;
	display: flex;
	flex-direction: column;
}
.form-modal {}
.form-modal__item {
	width: 100%;
	margin: 0 0 10px;
}
.form-modal__input {
	width: 100%;
	min-height: 50px;
	background: $grayColorLight;
	padding: 14px 25px;
	font-size: 15px;
	line-height: math.div(20, 15) * 100%;
	color: $mainColor;
	font-weight: 400;
	cursor: pointer;
	border: 1px solid transparent;
	&::placeholder{
		font-size: 15px;
		line-height: math.div(20, 15) * 100%;
		color: $mainColor;
		font-weight: 400;
		color: $grayColor;
		opacity: 1;
		transition: opacity .15s ease 0s, color .15s ease 0s;
	}
	&:hover,
	&:focus{
		border: 1px solid $grayDarkColor;
	}
	&:hover::placeholder{
		color: $mainColor;
	}
	&:focus::placeholder{
		opacity: 0;
	}
}
.form-modal__button {
	margin: 20px 0 0;
	min-height: 60px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $redColor;
	font-weight: 500;
	font-size: 13px;
	line-height: math.div(20, 13) * 100%;
	letter-spacing: 0.4px;
	color: $whiteColor;
	text-transform: uppercase;
}
.form-modal__text {
	margin: 15px 0 0;
	font-size: 13px;
	line-height: math.div(20, 13) * 100%;
	color: $grayColor;
	text-align: center;
	font-weight: 400;
}
.form-modal__link {
	font-size: 13px;
	line-height: math.div(20, 13) * 100%;
	color: $grayDarkColor;
	display: inline-block;
	text-decoration: underline;
	&:hover{
		text-decoration: underline;
	}
}
.modal__bottom {
	min-height: 69px;
	display: flex;
	align-items: center;
	width: 100%;
	border-top: 1px solid $borderColor;
}
.bottom-modal {
}
.bottom-modal__button {
	width: 50%;
	height: 100%;
	padding: 21px 10px 24px;
	display: flex;
	justify-content: center;
	font-size: 15px;
	line-height: math.div(25, 15) * 100%;
	font-weight: 500;
	color: $mainColor;
}
.bottom-modal__button_password {
	color: $grayColor;
	border-right: 1px solid $borderColor;
}

@media screen and (max-width: $sm){
	// MODAL
	.modal__heading {
		padding: 20px 0 20px;
	}
	.modal__form{
		padding: 30px 20px 30px;
	}
	.modal__bottom{
		min-height: 50px;
	}
	.bottom-modal__button{
		padding: 15px 10px;
	}
}